textarea {
    resize: none;
}

form label {
    font-size: 15px;
    font-weight: bold;
    color: #07715a;
}

.error {
    color: #a62737;
    font-weight: bold;
    padding:2px 0;
}

table thead tr th {
    text-align: center;
}

.loginError {
    font-size: 15px;
    font-weight: bold;
    padding: 5px 0;
}

.valid {
    color: #0e3259;
    font-weight: bold;
    padding: 2px 0;
}

.content {
    position: relative;
    padding: 40px;
}

.footer {
    background-color: darkslategrey;
    color: white;
    padding: 5px 0;
    margin-bottom: 0;
    /*width: 100%;*/
    /*height: 30px;*/
    /*position: absolute;*/
    /*bottom: 0;*/
    font-size: small;
    /*color: gray;*/
    text-align: center;
}

.header {
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: darkred;
}

.toolbar {
    position: relative;
    margin-top: 10px;
    padding-left: 40px;
}

div.links a {
    padding-right: 10px;
}

a.login {
    position: absolute;
    top: 15px;
    right: 10px;
    color: white;
}

a.title {
    color: white;
    font-size: 35px;
}

div.message {
    margin-bottom: 20px;
    border-bottom: 1px dotted goldenrod;
}

span.subject {
    font-size:large;
    color: brown;
    font-weight: bold;
}

span.messageContent {
    display: block;
    font-style: italic;
}

span.name {
   color: chocolate;
}

form.replyForm {
    padding: 20px;
    display: none;
}

textarea.replyArea {
    width: 400px;
    height: 200px;
}

input.btn {
    margin-top: 5px;
    display: block;
    font-weight: bold;
}

span.alert {
    display: block;
    font-weight: bold;
    color: green;
    padding: 0;
    margin: 0;
}
